@using c5m._2d6Dungeon;
@inject ID6Service D6Service;


<FluentCard>
    <FluentStack Orientation="Orientation.Vertical" VerticalGap="5" Width="500px">
        <FluentPersona  Name="@(creature.name)"
                ImageSize="50px"
                Status="PresenceStatus.Available"
                StatusSize="PresenceBadgeSize.Small">
        </FluentPersona>
        
        <FluentStack Orientation="Orientation.Horizontal" HorizontalGap="5">
            <div><b>Level:</b> @creature.level.ToString()</div>
        </FluentStack>
        <FluentStack Orientation="Orientation.Horizontal" HorizontalGap="5">
            <span><b>HP:</b> @creature.health_points</span>
            <span><b>XP:</b> @creature.experience.ToString()</span>
            <span><b>SH:</b> @creature.shift_points.ToString()</span>
        </FluentStack>
        <div><b>Treasure:</b> @creature.treasure</div>
        <div><b>Interrupt:</b> @creature.interrupt1</div>
        <div>@creature.interrupt2</div>
        <div><b>Manoeuvre:</b> @creature.manoeuvre1</div>
        <div>@creature.manoeuvre2</div>
        <div style="word-wrap: break-word; background-color: lightgray">
            @creature.description
        </div>
        <FluentStack Orientation="Orientation.Horizontal" HorizontalGap="5"  >
            <div style="width=50%; background-color: rgb(183, 211, 218)">
                <div>
                    <Dice color="Dice.DiceColor.white" size="Dice.DiceSize.tiny" face="1" />
                    <Dice color="Dice.DiceColor.white" size="Dice.DiceSize.tiny" face="1" />
                    <b>Prime Attack Roll:</b>
                </div>
                <div>@creature.prime_attack_rolls</div>
            </div>
            <div style="width=50%; background-color: rgb(248, 183, 193)">
                <div>
                    <Dice color="Dice.DiceColor.white" size="Dice.DiceSize.tiny" face="6" />
                    <Dice color="Dice.DiceColor.white" size="Dice.DiceSize.tiny" face="6" />
                    <b>Mishap Attack Roll:</b>
                    </div>
                <div>@creature.mishap_attack_rolls</div>
            </div>
        </FluentStack>
    </FluentStack>
</FluentCard>


@code {
    [Parameter]
    public Creature creature { get; set; }

    [Parameter] 
    public EventCallback<Creature> creatureChanged { get; set; }


    private void manoeuvreParser(string rawInfo)
    {
        string[] parts = rawInfo.Split("|");

    }


}
