@page "/fetchdata"
@using c5m._2d6Dungeon;
@inject ID6Service D6Service;
@inject HttpClient Http
@using System.Text.Json

<PageTitle>Room list</PageTitle>

@* <h1>Room list</h1>

@if (rooms == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Roll</th>
                <th>RoomType</th>
                <th>Description</th>
                <th>Encounter</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var room in rooms.value)
            {
                <tr>
                    <td>@room.roll.ToString()</td>
                    <td>@room.room_type</td>
                    <td>@room.description</td>
                    <td>@room.encounter</td>
                </tr>
            }
        </tbody>
    </table> 
}  
*@

<hr/>

<div class="row justify-content-md-center">

    <p>Test Fetching</p>
    <div class="row align-items-center">
        <button type="button" class="btn btn-outline-primary" @onclick="GetWeapons">Get Weapons</button> 
        
@if (weapons == null)
{
        <p><em>no weapons loaded yet...</em></p>
}
else
{       
        <InputSelect Value="selectedWeaponId" 
                     ValueExpression = "@( () => selectedWeaponId)"
                     ValueChanged = "@( (int weaponId) => ValueChanged(weaponId))"
                     class="form-control" 
                     id ="selectedWeapon">
            @if (selectedWeaponId == 0)
            {
                <option value="0" selected> - Select a Weapon - </option>
            }
            @foreach (var w in weapons.value)
            {
                <option value="@w.Id"> @w.Name </option>
            }
        </InputSelect>
}
    </div>





@if (manoeuvres == null)
{
    <p><em>No manoeuvres yet...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Weapon</th>
                <th>Description</th>
                <th>Modifier</th>
                <th>Dice Set</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in manoeuvres.value)
            {
                <tr>
                    <td>@weaponName</td>
                    <td>@m.Description</td>
                    <td>@m.Modifier</td>
                    <td>@m.DiceSet</td>
                </tr>
            }
        </tbody>
    </table>
}
    
</div>


@code {
    private RoomList? rooms;
    private string weaponName = "a weapon...";
    private WeaponList? weapons;
    private WeaponManoeuvreList? manoeuvres;
    private int selectedWeaponId = 1;

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("strating");

        try{
            rooms = await Http.GetFromJsonAsync<RoomList>("http://localhost:5000/api/room");
        }
        catch(Exception ex){
            Console.WriteLine("Oops1 --> " + ex.Message);
            rooms = new RoomList();
        }
    }

    private async Task GetWeapons()
    {
        try{
            weapons = await D6Service.GetWeapons();
        }
        catch(Exception ex){
            Console.WriteLine("Oops1 --> " + ex.Message);
        }
    }

    private async Task ValueChanged(int weaponId)
    {
        try{
            selectedWeaponId = weaponId;
            if(selectedWeaponId > 0){
                weaponName = weapons.value.Where(w => w.Id == selectedWeaponId).Select(w => w.Name).FirstOrDefault();
                manoeuvres = await D6Service.GetWeaponManoeuvreList(selectedWeaponId, 1);
            }
        }
        catch(Exception ex){
            Console.WriteLine("Oops1 --> " + ex.Message);
        }
    }
}
