@page "/fetchdata"
@using c5m._2d6Dungeon;
@* @using Microsoft.AspNetCore.Components.QuickGrid; *@
@inject ID6Service D6Service;
@inject HttpClient Http
@using System.Text.Json

<PageTitle>Database test</PageTitle>

<FluentLabel Typo="Typography.PageTitle">Test Fetching</FluentLabel>
<FluentButton Appearance="Appearance.Accent" OnClick="GetWeapons">Get Weapons</FluentButton> 
    
@if (weapons == null)
{
    <FluentProgressRing>no weapons loaded yet...</FluentProgressRing>
}
else
{       
    
    <InputSelect Value="selectedWeaponId" 
                    ValueExpression = "@( () => selectedWeaponId)"
                    ValueChanged = "@( (int weaponId) => ValueChanged(weaponId))"
                    class="form-control" 
                    id ="selectedWeapon">
        @if (selectedWeaponId == 0)
        {
            <option value="0" selected> - Select a Weapon - </option>
        }
        @foreach (var w in weapons.value)
        {
            <option value="@w.Id"> @w.Name </option>
        }
    </InputSelect>

    @if (manoeuvres == null)
    {
        <FluentProgressRing>No manoeuvres yet...</FluentProgressRing>
    }
    else
    {
        <FluentDataGrid Items="@manoeuvresQueryable" ResizableColumns="true">
            <PropertyColumn Title="Weapon" Property="@(m => weaponName)" Sortable="true"/>
            <PropertyColumn Title="Description" Property="@(m => m.Description)" Sortable="true"/>
            <PropertyColumn Title="Modifier" Property="@(m => m.Modifier)" Sortable="true"/>
            <PropertyColumn Title="DiceSet" Property="@(m => m.DiceSet)" Sortable="true"/>
        </FluentDataGrid>
    }
}


@code {
    private RoomList? rooms;
    private string weaponName = "a weapon...";
    private WeaponList? weapons;
    private WeaponManoeuvreList? manoeuvres;
    private int selectedWeaponId = 1;

    IQueryable<WeaponManoeuvre>? manoeuvresQueryable;

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("strating");

        try{
            rooms = await Http.GetFromJsonAsync<RoomList>("http://localhost:5000/api/room");
        }
        catch(Exception ex){
            Console.WriteLine("Oops1 --> " + ex.Message);
            rooms = new RoomList();
        }
    }

    private async Task GetWeapons()
    {
        try{
            weapons = await D6Service.GetWeapons();
        }
        catch(Exception ex){
            Console.WriteLine("Oops1 --> " + ex.Message);
        }
    }

    private async Task ValueChanged(int weaponId)
    {
        try{
            selectedWeaponId = weaponId;
            if(selectedWeaponId > 0){
                weaponName = weapons.value.Where(w => w.Id == selectedWeaponId).Select(w => w.Name).FirstOrDefault();
                manoeuvres = await D6Service.GetWeaponManoeuvreList(selectedWeaponId, 1);
                manoeuvresQueryable = manoeuvres.value.AsQueryable();
            }
        }
        catch(Exception ex){
            Console.WriteLine("Oops1 --> " + ex.Message);
        }
    }
}
